.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* styles.css (or your CSS file) */
@keyframes reduceWidth {
    0% {
        width: 100px; /* Initial width, adjust this value to match your initial width */
    }
    100% {
        width: 40px; /* Final width */
    }
}

.logo {
    animation: reduceWidth 0.5s linear 2s forwards; /* 0.5s animation duration, 1s delay */
    width: 180px; /* Initial width */
}
